/* .div1{
    margin:23px;
    padding:16px;
    outline:2px solid black;
    border:1px solid red;
}
#div2{
    margin:13px;
    padding:18px;
    outline:1px solid blue;
    text-align: center;
} */