body{
    
    height:auto;
    box-sizing: border-box;
    border: 2px solid red;
    background-color: rgb(231, 223, 223);
}
.input-padding{
    padding:12px 12px 12px 20px;
    background-color: rgba(255, 247, 247, 0.932);
    color:rgb(245, 235, 235);
}
.p-margin{
    margin:2px;
}
.btn{
    padding:12px 52px ;
    background-color: rgb(206, 101, 101);
    color:white;
    
}
.text-r{
    border-radius: 6px;
}
.div1{
    font-weight: bold;
    font-size: 23px;
    font-family: ui-sans-serif;
    display: block;
    height: 100px;
    width: 100px;
    border: 2px solid red;
    float: right;
}
.parent2{
    z-index: -1;
    background-color: red;
    float: right;
    right: 409px;
    position: relative;
    box-sizing: content-box;
    height: 200px;
    width: 400px;
    padding: 12px;
    border: 2px solid red;
}

.parent1{
    z-index: 3;
    background-color: blue;
    left: 307px;
    position: relative;
    float: left;
    height: 200px;
    width: 400px;
    padding: 18px;
    border: 2px solid red;
    margin: 12px;
}