body{
    
    height:auto;
    box-sizing: border-box;
    border: 2px solid red;
    background-color: rgb(231, 223, 223);
}
.input-padding{
    padding:12px 12px 12px 20px;
    background-color: rgba(255, 247, 247, 0.932);
    color:rgb(245, 235, 235);
}
.p-margin{
    margin:2px;
}
.btn{
    padding:12px 52px ;
    background-color: rgb(206, 101, 101);
    color:white;
    
}
.text-r{
    border-radius: 6px;
}